<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %> <%console.log(roles) %>
  <body>
    <%- include('../partials/header'); %>
    <main>
    <div class="intro">
      <a href="/"><img src="images/crystalball.png" alt="Crystal ball, return to home page" /></a>
      <h1>The Name Oracle</h1>
    </div>
    <div class="question-body">
      <span> I need a </span>
      <%console.log("hello " + (typeof selected_setting === 'undefined'))%>
      <%if(typeof selected_role !== 'undefined'){console.log(selected_role)}%>
      <%if(typeof selected_setting !== 'undefined'){console.log(selected_setting)}%>
      <% if(typeof selected_setting === 'undefined'){ selected_setting = "high_fantasy"; console.log(selected_setting)} %>
      <% if(typeof selected_role === 'undefined'){ selected_role = "hero" } %>
      <%- include('../partials/selector', {data: roles, name: "role",
      selected: selected_role}); %>
      <span> from a </span>
      <%- include('../partials/selector', {data: settings, name: "setting",
      selected: selected_setting}); %>

      <span> setting</span>
    </div>
    <a href="#" id="go" class="buttonstyle inpage-button">Go</a>

    <% if(locals.results){ %>
      <div class="results-wrapper">
        <div class="results-main">
    <div class="results <% if(locals.results.length > 1){ %>many<%} %>">
      <% results.forEach((result) => { %>
      <p><%=result%></p>
      <%})%>
    </div>
    <div class="more">
      <a href="#" id="more" class="buttonstyle inpage-button"
        ><% if(locals.results.length > 1){ %>Refresh<%} else {%>Show me
        more<%}%></a
      >
    </div>

    </div>
  
  </div>
    <%} else if(locals.results === false){%>
    <div class="results">
      <p>No results found</p>
    </div>
    <%}%>
  </main>
    <%- include('../partials/footer'); %>
    <script src="scripts/selectHandler.js"></script>
  </body>
</html>
