<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %> <%console.log(roles) %>
  <body>
    <%- include('../partials/header'); %>
    <div class="intro">
      <img src="images/crystalball.png" alt="Crystal ball" />
      <h1>The Name Oracle</h1>
    </div>
    <div class="question-body">
      <span> I need a </span>
      <%- include('../partials/selector', {data: roles, name: "role"}); %>
      <span> from a </span>
      <%- include('../partials/selector', {data: settings, name: "setting"}); %>

      <span> setting</span>
    </div>
    <a href="#" id="go">Go</a>
    <%- include('../partials/footer'); %>
    <script src="scripts/selectHandler.js"></script>
  </body>
</html>
