<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %> 
    <h1>Bring me to life</h1>
    <p><%= test %> </p>
    <h2>Query maker</h2>
    <%- include('../partials/querymaker');  %> 
    <%- include('../partials/footer'); %> 
</body>
</html>