<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %> <%console.log(roles) %>
  <body>
    <%- include('../partials/header'); %>
    <div class="intro">
      <img src="images/crystalball.png" alt="Crystal ball" />
      <h1>The Name Oracle</h1>
    </div>
    <div class="question-body">
      <span> I need a </span>
      <%- include('../partials/selector', {data: roles, name: "role",
      selected_data: selected}); %>
      <span> from a </span>
      <%- include('../partials/selector', {data: settings, name: "setting",
      selected_data: selected}); %>

      <span> setting</span>
    </div>
    <a href="#" id="go" class="inpage-button">Go</a>

    <% if(locals.results){ %>
    <div class="results">
      <% results.forEach((result) => { %>
      <p><%=result%></p>
      <%})%>
    </div>
    <div class="more">
      <a href="#" id="more" class="inpage-button">Show me more</a>
    </div>
    <%} else if(locals.results === false){%>
    <div class="results">
      <p>No results found</p>
    </div>
    <%}%> <%- include('../partials/footer'); %>
    <script src="scripts/selectHandler.js"></script>
  </body>
</html>
